<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/dicas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/b9ccfa25cd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="/images/logo.png" alt="Logo GreenLife">
                <h1>GreenLife</h1>
            </div>

            <div class="usuarioLogado">
                <% if (usuario.usu_codigo) { %>
                    <div class="imgLogado"><img src="/images/imgPerfis/<%= usuario.usu_foto %>" alt="Avatar"></div>
                    <p><a href="/perfil/<%= usuario.usu_codigo %>"><%= usuario.usu_nomeusuario %>#<%= usuario.usu_codigo %></a></p>
                <% } %>
            </div>

            <nav class="menu">
                <a href="/timeline" class="menu-item"><i class="fa-solid fa-house"></i> Página Inicial</a>
                <a href="/dicas" class="menu-item"><i class="fa-solid fa-fire-flame-curved"></i> Dicas</a>
                <a href="/perfil/<%= usuario.usu_codigo %>/salvos" class="menu-item"><i class="fa-solid fa-bookmark"></i> Salvos</a>
                <a href="/perfil/<%= usuario.usu_codigo %>" class="menu-item"><i class="fa-solid fa-user"></i> Perfil</a>
                <a href="/sair" class="menu-item"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
            </nav>
        </aside>

        <main class="principal">
            <div class="categorias">
                <% categorias.forEach(cat => { %>
                    <button class="cardCat" data-categoria="<%= cat.cat_nome %>">
                        <p><%= cat.cat_nome %></p>
                    </button>
                <% }) %>
            </div>

            <div class="dicas">
                <% if (dicas && dicas .length > 0) { %>
                    <% dicas .forEach(dic => { %>
                        <div class="dicCard" data-categoria="<%= dic.cat_nome %>" data-codigo="<%= dic.dic_codigo %>">
                            <div class="dicTitulo">
                                <p class="dT"><%= dic.dic_titulo %></p>
                            </div>
                            <div class="card-footer">
                                <div class="infos">
                                    <p class="info"><%= dic.adm_nome %>, <%= dic.dic_data %></p>
                                </div>
                                <a href="/salvarDic/<%= dic.dic_codigo %>" class="salvar" onclick="alertaSalvo(event)"><i class="fa-regular fa-bookmark" onclick="event.stopPropagation();"></i></a>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p class="no-pub">Nenhuma Dica para mostrar.</p>
                <% } %>
            </div>
        </main>

        <aside class="lateral">
            <div class="dica">
                <h3>Dica do dia</h3>
                <% dicaDia.forEach(dia => { %>
                    <p><%= dia.dia_conteudo %></p>
                <% }) %>
            </div>

            <div class="atividades">
                <h3>Atividades Populares</h3>
                <% if (atividades && atividades.length > 0) { %>
                        <% atividades.forEach(atv => { %>
                            <a href="/responderPubli/<%= atv.pub_codigo %>" class="att_link">
                                <div class="att_perfil">
                                    <div class="att_imgPerfil">
                                        <img src="/images/imgPerfis/<%= atv.usu_foto %>" alt="Avatar">
                                    </div>
                                    <div class="att_infoPerfil">
                                        <div class="att_nomeEtempo">
                                            <strong class="att_username"><%= atv.usu_nomeusuario %>#<%= atv.usu_codigo %></strong>
                                            <p class="att_timestamp"><%= atv.pub_criado %></p>
                                        </div>
                                        <p class="att_pub-content"><%= atv.pub_conteudo %></p>
                                        <div class="att_anexo"><% if (atv.pub_anexo) { %> <img src="/images/imgPosts/<%= atv.pub_anexo %>" alt="Imagem do Post" class="att_imgPost"><% } %></div>
                                    </div>
                                </div>
                            </a>
                        <% }) %>
                <% } else { %>
                    <p class="no-pub">Nenhuma publicação para mostrar.</p>
                <% } %>
            </div>
        </aside>
    </div>
</body>

<script>
    const categorias = document.querySelectorAll('.cardCat');
    const dicas = document.querySelectorAll('.dicCard');
    let filtroAtivo = null;

    function alertaSalvo(event) {
        alert("Dica salva com sucesso!");
    }

    categorias.forEach(cat => {
        cat.addEventListener('click', () => {
            const filtro = cat.dataset.categoria;
            if (filtroAtivo === filtro) {
                filtroAtivo = null;
                cat.classList.remove('active');
                dicas.forEach(dic => dic.style.display = 'flex');
            } else {
                filtroAtivo = filtro;
                categorias.forEach(c => c.classList.remove('active'));
                cat.classList.add('active');
                dicas.forEach(dic => {
                    dic.style.display = dic.dataset.categoria === filtro ? 'flex' : 'none';
                });
            }
        });
    });

    dicas.forEach(dica => {
        dica.addEventListener('click', () => {
            const codigo = dica.dataset.codigo;
            window.location.href = `/dica/${codigo}`;
        });
    });
</script>

</html>