<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> 
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="stylesheet" href="/stylesheets/dicas.css">
    <link rel="stylesheet" href="/stylesheets/perfil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/b9ccfa25cd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <%- include('partials/sidebar') %>

        <main class="feed">
            <div class="blocoPerfil">
                <div class="imgBackground">
                    <img src="/images/imgPerfilBack/<%= perfil.usu_imgBackground %>" alt="imgBackground">
                </div>
                <div class="imgPerfil">
                    <img src="/images/imgPerfis/<%= perfil.usu_foto %>" alt="imgPerfil">
                </div>
                <div class="user">
                    <strong><%= perfil.usu_nomeusuario %>#<%= perfil.usu_codigo %></strong>
                    <p><%= perfil.usu_bio %></p>
                </div>
            </div>



            <div class="perfilCats">
                <a href="/perfil/<%= perfil.usu_codigo %>"><span>Publicações</span></a>
                <a href="/perfil/<%= perfil.usu_codigo %>/comentarios"><span>Comentários</span></a>
                <a href="/perfil/<%= perfil.usu_codigo %>/salvos"><span>Salvados</span></a>
            </div>


            <div class="dicas">
                <% if (dicas && dicas .length > 0) { %>
                    <% dicas .forEach(dic => { %>
                        <div class="dicCard" data-categoria="<%= dic.cat_nome %>" data-codigo="<%= dic.dic_codigo %>">
                            <div class="dicTitulo">
                                <p class="dT"><%= dic.dic_titulo %></p>
                            </div>
                            <div class="card-footer">
                                <div class="infos">
                                    <p class="info"><%= dic.adm_nome %>, <%= dic.dic_data %></p>
                                </div>
                                <a href="/salvarDic/<%= dic.dic_codigo %>" class="salvar" onclick="alertaSalvo(event)"><i class="fa-regular fa-bookmark" onclick="event.stopPropagation();"></i></a>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p class="no-pub">Nenhuma Dica para mostrar.</p>
                <% } %>
            </div>

            <div class="posts">
                <div class="boxPosts">
                    <% if (publicacoes && publicacoes.length > 0) { %>
                        <% publicacoes.forEach(pub => { %>
                            <div class="post">
                                <div class="perfil">
                                    <div class="imgPerfil">
                                        <img src="/images/imgPerfis/<%= pub.usu_foto %>" alt="Avatar">
                                    </div>
                                    <div class="infoPerfil">
                                        <div class="nomeEtempo">
                                            <strong class="username"><a href="/perfil/<%= pub.usu_codigo %>"><%= pub.usu_nomeusuario %>#<%= pub.usu_codigo %></a></strong>
                                            <p class="timestamp"><%= pub.pub_criado %></p>
                                        </div>
                                        <% if (pub.pub_repostado) { %>
                                            <div class="reposts">
                                                <p>🔁 Repostado de <a href="/responderPubli/<%= pub.pub_repostado %>"><%= pub.user_original %></a></p>
                                            </div>
                                        <% } %>
                                        <p class="pub-content"><%= pub.pub_conteudo %></p>
                                        <div class="anexo"><% if (pub.pub_anexo) { %> <img src="/images/imgPosts/<%= pub.pub_anexo %>" alt="Imagem do Post" class="imgPost"><% } %></div>
                                    </div>
                                </div>

                                <div class="pub-actions">
                                    <a href="/responderPubli/<%= pub.pub_codigo %>"><i class="fa-solid fa-comments"></i><span><%= pub.pub_qtdrespostas || 0 %></span></a>
                                    <a href="/repostar/<%= pub.pub_codigo %>"><i class="fa-solid fa-repeat"></i><span><%= pub.pub_qtdrepostado || 0 %></span></a>
                                    <a href="/curtir/<%= pub.pub_codigo %>"><i class="fa-solid fa-heart"></i><span><%= pub.pub_qtdcurtiu || 0 %></span></a>
                                    <a href="/salvar/<%= pub.pub_codigo %>"><i class="fa-solid fa-bookmark"></i><span><%= pub.pub_qtdsalvo || 0 %></span></a>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p class="no-pub">Nenhuma publicação para mostrar.</p>
                    <% } %>
                </div>
            </div>
        </main>


        <%- include('partials/lateral') %>
    </div>
</body>

<script>
    function mostrarNomeImagem() {
        const input = document.getElementById('imagem');
        const label = document.getElementById('arquivoSelecionado');

        if (input.files.length > 0) {
            label.textContent = `Imagem: ${input.files[0].name}`;
        } else {
            label.textContent = "";
        }
    }
</script>

</html>