<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/b9ccfa25cd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <%- include('partials/sidebar') %>

        <main class="feed">
            <div class="posts">
                <div class="boxPosts">
                    <% if (publicacao) { %>
                        <div class="post">
                            <div class="perfil">
                                <div class="imgPerfil"><img src="/images/imgPerfis/<%= publicacao.usu_foto %>" alt="Avatar"></div>
                                <div class="infoPerfil">
                                    <div class="nomeEtempo">
                                        <strong class="username"><a href="/perfil/<%= publicacao.usu_codigo %>"><%= publicacao.usu_nomeusuario %>#<%= publicacao.usu_codigo %></a></strong>
                                        <p class="timestamp"><%= publicacao.pub_criado %></p>
                                    </div>

                                    <% if (publicacao.pub_repostado) { %>
                                        <div class="reposts"><p>🔁 Repostado de <a href="/responderPubli/<%= publicacao.pub_repostado %>"><%= publicacao.user_original || 'Usuário desconhecido' %></a></p></div>
                                    <% } %>

                                    <p class="pub-content"><%= publicacao.pub_conteudo %></p>
                                    <% if (publicacao.pub_anexo) { %>
                                        <div class="anexo"><img src="/images/imgPosts/<%= publicacao.pub_anexo %>" alt="Imagem do Post" class="imgPost"></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="pub-actions">
                                <a href="#"><i class="fa-solid fa-comments"></i><span><%= publicacao.pub_qtdrespostas || 0 %></span></a>
                                <a href="/repostar/<%= publicacao.pub_codigo %>"><i class="fa-solid fa-repeat"></i><span><%= publicacao.pub_qtdrepostado || 0 %></span></a>
                                <a href="/curtir/<%= publicacao.pub_codigo %>"><i class="fa-solid fa-heart"></i><span><%= publicacao.pub_qtdcurtiu || 0 %></span></a>
                                <a href="/salvar/<%= publicacao.pub_codigo %>"><i class="fa-solid fa-bookmark"></i><span><%= publicacao.pub_qtdsalvo || 0 %></span></a>
                            </div>
                        </div>
                    <% } else { %>
                        <p class="no-pub">Publicação não encontrada.</p>
                    <% } %>
                </div>
            </div>

            <form class="postar" method="post" action="/fazercomentario/<%= publicacao.pub_codigo %>">
                <textarea class="textoPost" type="text" placeholder="Faça um Comentário..." name="conteudo" required></textarea>
                <button type="submit" class="comentar">Comentar</button>
            </form>

            <%- include('partials/comentarios') %>

        </main>
                    
        <%- include('partials/lateral') %>
    </div>
</body>


</html>