<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/b9ccfa25cd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="/images/logo.png" alt="Logo GreenLife">
                <h1>GreenLife</h1>
            </div>

            <div class="usuarioLogado">
                <% if (usuario.usu_codigo) { %>
                    <div class="imgLogado"><img src="/images/imgPerfis/<%= usuario.usu_foto %>" alt="Avatar"></div>
                    <p><a href="/perfil/<%= usuario.usu_codigo %>"><%= usuario.usu_nomeusuario %>#<%= usuario.usu_codigo %></a></p>
                <% } %>
            </div>

            <nav class="menu">
                <a href="/timeline" class="menu-item"><i class="fa-solid fa-house"></i> Página Inicial</a>
                <a href="/dicas" class="menu-item"><i class="fa-solid fa-fire-flame-curved"></i> Dicas</a>
                <a href="/perfil/<%= usuario.usu_codigo %>/salvos" class="menu-item"><i class="fa-solid fa-bookmark"></i> Salvos</a>
                <a href="/perfil/<%= usuario.usu_codigo %>" class="menu-item"><i class="fa-solid fa-user"></i> Perfil</a>
                <a href="/sair" class="menu-item"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
            </nav>
        </aside>

        <main class="feed">
            <form class="postar" method="post" action="/fazerpost" enctype="multipart/form-data">
                <textarea class="textoPost" type="text" placeholder="Digite sua contribuição..." name="conteudo" required></textarea>
                <p id="arquivoSelecionado"></p>
                <div class="acoes">
                    <label for="imagem" style="cursor: pointer; display: flex; align-items: center;">
                        <i class="fa-solid fa-paperclip"></i> Anexar Imagem
                    </label>
                    <input type="file" id="imagem" name="imagem" accept="image/*" style="display: none;" onchange="mostrarNomeImagem()">
                    <button type="submit" class="publicar">Publicar</button>
                </div>
            </form>

            <div class="posts">
                <div class="boxPosts">
                    <% if (publicacoes && publicacoes.length > 0) { %>
                        <% publicacoes.forEach(pub => { %>
                            <div class="post">
                                <div class="perfil">
                                    <div class="imgPerfil">
                                        <img src="/images/imgPerfis/<%= pub.usu_foto %>" alt="Avatar">
                                    </div>
                                    <div class="infoPerfil">
                                        <div class="nomeEtempo">
                                            <strong class="username"><%= pub.usu_nomeusuario %>#<%= pub.usu_codigo %></strong>
                                            <p class="timestamp"><%= pub.pub_criado %></p>
                                        </div>
                                        <% if (pub.pub_repostado) { %>
                                            <div class="reposts">
                                                <p>🔁 Repostado de <a href="/responderPubli/<%= pub.pub_repostado %>"><%= pub.user_original %></a></p>
                                            </div>
                                        <% } %>
                                        <p class="pub-content"><%= pub.pub_conteudo %></p>
                                        <div class="anexo"><% if (pub.pub_anexo) { %> <img src="/images/imgPosts/<%= pub.pub_anexo %>" alt="Imagem do Post" class="imgPost"><% } %></div>
                                    </div>
                                </div>

                                <div class="pub-actions">
                                    <a href="/responderPubli/<%= pub.pub_codigo %>"><i class="fa-solid fa-comments"></i><span><%= pub.pub_qtdrespostas || 0 %></span></a>
                                    <a href="/repostar/<%= pub.pub_codigo %>"><i class="fa-solid fa-repeat"></i><span><%= pub.pub_qtdrepostado || 0 %></span></a>
                                    <a href="/curtir/<%= pub.pub_codigo %>"><i class="fa-solid fa-heart"></i><span><%= pub.pub_qtdcurtiu || 0 %></span></a>
                                    <a href="/salvar/<%= pub.pub_codigo %>"><i class="fa-solid fa-bookmark"></i><span><%= pub.pub_qtdsalvo || 0 %></span></a>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p class="no-pub">Nenhuma publicação para mostrar.</p>
                    <% } %>
                </div>
            </div>
        </main>


        <aside class="lateral">
            <div class="dica">
                <h3>Dica do dia</h3>
                <% dicaDia.forEach(dia => { %>
                    <p><%= dia.dia_conteudo %></p>
                <% }) %>
            </div>

            <div class="atividades">
                <h3>Atividades Populares</h3>
                <% if (atividades && atividades.length > 0) { %>
                        <% atividades.forEach(atv => { %>
                            <a href="/responderPubli/<%= atv.pub_codigo %>" class="att_link">
                                <div class="att_perfil">
                                    <div class="att_imgPerfil">
                                        <img src="/images/imgPerfis/<%= atv.usu_foto %>" alt="Avatar">
                                    </div>
                                    <div class="att_infoPerfil">
                                        <div class="att_nomeEtempo">
                                            <strong class="att_username"><%= atv.usu_nomeusuario %>#<%= atv.usu_codigo %></strong>
                                            <p class="att_timestamp"><%= atv.pub_criado %></p>
                                        </div>
                                        <p class="att_pub-content"><%= atv.pub_conteudo %></p>
                                        <div class="att_anexo"><% if (atv.pub_anexo) { %> <img src="/images/imgPosts/<%= atv.pub_anexo %>" alt="Imagem do Post" class="att_imgPost"><% } %></div>
                                    </div>
                                </div>
                            </a>
                        <% }) %>
                <% } else { %>
                    <p class="no-pub">Nenhuma publicação para mostrar.</p>
                <% } %>
            </div>
        </aside>
    </div>
</body>

<script>
    function mostrarNomeImagem() {
        const input = document.getElementById('imagem');
        const label = document.getElementById('arquivoSelecionado');

        if (input.files.length > 0) {
            label.textContent = `Imagem: ${input.files[0].name}`;
        } else {
            label.textContent = "";
        }
    }
</script>

</html>